body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.lob-intro {
    margin-top: 0%;
    margin-left: 0%;
    text-align: right;
    
    .opening-video { 
        position: relative; 
        right: 500px;
        top: -70px;
    }

    .whale-video {
        position: relative;
        top: -1200px;
    }

    .lob-intro-header {
        position: relative;
        top: -400px;
        font-family: 'Roboto', sans-serif;
        font-size: 78px;
        text-align: center;
    }

    .lob-intro-subhead {
        position: relative;
        top: -450px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
    }

    .lob-intro-quote {
        position: relative;
        top: -300px;
        right: 20px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 20px;
    }

    .lob-intro-quote-attibute {
        position: relative;
        top: -280px;
        right: 60px;
    }

    .lob-intro-sitecred {
        position: relative;
        top: -200px;
        right: 60px;
    }

    .lob-intro-contentcred {
        position: relative;
        top: -200px;
        right: 60px;
    }

    .lob-intro-link {
        position: relative;
        top: -200px;
        right: 60px;
    }
}

.lob-about {
    
    .lob-about-header {
        position: relative;
        top: -125px;
        margin-left: 40px; 
        margin-right: 40px;
        font-size: 78px;
        text-align: center;
    }

    .lob-about-text1 {
        position: relative;
        top: -150px;
        margin-left: 40px; 
        margin-right: 40px;
    }

    .about-video {
        position: relative;
        top: -175px;
    }

    .lob-about-text2,
    .lob-about-text3 {
        position: relative;
        top: -200px;
        margin-left: 40px; 
        margin-right: 40px;
    }
}

.lob-deck {

    .lob-deck-header {
        position: relative;
        top: -175px;
        font-size: 78px;
        text-align: center;
    }

    .deck-header-video {
        position: relative; 
        top: -200px;
    }

    .lob-deck-header-text1 {
        position: relative;
        top: -180px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-header-text2 {
        position: relative;
        top: -180px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-bow {
        position: relative;
        top: -125px; 
        font-size: 48px; 
        text-align: center;
    }

    .bow-video {
        position: relative;
        top: -175px; 
    }

    .lob-deck-bow-text1  {
        position: relative;
        top: -150px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-bow-text2 {
        position: relative;
        top: -150px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .bow-video-2 {
        position: relative;
        top: -100px;
    }

    .lob-deck-cockpit {
        position: relative;
        top: -70px; 
        font-size: 48px;
        text-align: center;
    }

    .pit-video {
        position: relative;
        top: -125px;
    }

    .lob-deck-cockpit-text1 {
        position: relative;
        top: -100px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-cockpit-text2 {
        position: relative;
        top: -100px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .pit-video2 {
        position: relative;
        top: -75px;
    }

}

.lob-off {

    .lob-off-header {
        position: relative;
        top: -50px; 
        font-size: 65px;
        text-align: center;
    }

    .below-video {
        position: relative;
        top: -100px;
    }

    .lob-off-text1 {
        position: relative;
        top: -100px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .sleep-video {
        position: relative;
        top: -100px; 
    }

    .lob-off-text2 {
        position: relative;
        top: -100px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-off-text3 {
        position: relative;
        top: -100px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .sleep-video2 {
        position: relative;
        top: -100px; 
    }
}
