body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.lob-intro {
    margin-top: 0%;
    margin-left: 0%;
    text-align: right;
    
    .opening-video { 
        position: relative; 
        right: 500px;
        top: -70px;
    }

    .whale-video {
        position: relative;
        top: -200px;
    }

    .lob-intro-header {
        position: relative;
        top: -1175px;
        font-family: 'Roboto', sans-serif;
        font-size: 78px;
        text-align: center;
    }

    .lob-intro-subhead {
        position: relative;
        top: -1250px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
    }

    .lob-intro-quote {
        position: relative;
        top: -1100px;
        right: 20px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 300;
    }

    .lob-intro-quote-attibute {
        position: relative;
        top: -1080px;
        right: 60px;
    }

    .lob-intro-sitecred {
        position: relative;
        top: -900px;
        right: 60px;
    }

    .lob-intro-contentcred {
        position: relative;
        top: -900px;
        right: 60px;
    }

    .lob-intro-link {
        position: relative;
        top: -900px;
        right: 60px;
    }
}

.lob-about {
    
    .lob-about-header {
        position: relative;
        top: -825px;
        margin-left: 40px; 
        margin-right: 40px;
        font-size: 78px;
        text-align: center;
    }

    .lob-about-text1 {
        position: relative;
        top: -850px;
        margin-left: 40px; 
        margin-right: 40px;
    }

    .about-video {
        position: relative;
        top: -875px;
    }

    .lob-about-text2,
    .lob-about-text3 {
        position: relative;
        top: -900px;
        margin-left: 40px; 
        margin-right: 40px;
    }
}

.lob-deck {

    .lob-deck-header {
        position: relative;
        top: -900px;
        font-size: 78px;
        text-align: center;
    }

    .deck-header-video {
        position: relative; 
        top: -950px;
    }

    .lob-deck-header-text1 {
        position: relative;
        top: -950px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-header-text2 {
        position: relative;
        top: -950px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-bow {
        position: relative;
        top: -925px; 
        font-size: 48px; 
        text-align: center;
    }

    .bow-video {
        position: relative;
        top: -975px; 
    }

    .lob-deck-bow-text1  {
        position: relative;
        top: -1000px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-bow-text2 {
        position: relative;
        top: -1000px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .bow-video-2 {
        position: relative;
        top: -1000px;
    }

    .lob-deck-cockpit {
        position: relative;
        top: -1000px; 
        font-size: 48px;
        text-align: center;
    }

    .pit-video {
        position: relative;
        top: -1050px;
    }

    .lob-deck-cockpit-text1 {
        position: relative;
        top: -1075px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-deck-cockpit-text2 {
        position: relative;
        top: -1075px; 
        margin-left: 40px;
        margin-right: 40px;
    }

    .pit-video2 {
        position: relative;
        top: -1075px;
    }

}

.lob-off {

    .lob-off-header {
        position: relative;
        top: -1100px; 
        font-size: 65px;
        text-align: center;
    }

    .below-video {
        position: relative;
        top: -1150px;
    }

    .lob-off-text1 {
        position: relative;
        top: -1150px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .sleep-video {
        position: relative;
        top: -1150px; 
    }

    .lob-off-text2 {
        position: relative;
        top: -1150px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .lob-off-text3 {
        position: relative;
        top: -1150px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .sleep-video2 {
        position: relative;
        top: -1150px; 
    }
}

@media screen and (min-width: 575px) {
    body {
        background-color: pink;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
    }

    .opening-video { 
        position: relative; 
        left: 0px;
        top: -70px;
    }

    .lob-intro-header {
        position: relative;
        color: green;
    }

    .lob-intro-subhead {
        position: relative;
        top: -50px;
    }
}

@media screen and (min-width: 1000px) {
    .lob-intro-header {
        color: yellow;
    }
}
@media screen and (min-width: 1000px) {
    body {
        background-color: red;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
    }
}