body {
    background-color: black;
    margin: 7%
}

.lob-intro {
    margin-top: 30%;
    margin-left: 40%;
    text-align: right;
    
    .lob-intro-subhead {
        margin-bottom: 5%;
    }

    .lob-intro-quote-attibute {
        margin-bottom: 5%;
    }
}

.lob-about {
    margin-right: 15%;
    margin-left: 15%;

    .lob-about-header {
        margin-bottom: 5%;
    }
}

.lob-deck {

    .lob-deck-header {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .lob-deck-header-para1,
    .lob-deck-header-para2 {
        margin-left: 15%;
        margin-right: 15%;
    }

    .lob-deck-bow {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }

    .lob-deck-bow-text1,
    .lob-deck-bow-text2 {
        margin-left: 15%;
        margin-right: 15%;
    }

    .lob-deck-cockpit {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }

    .lob-deck-cockpit-text1,
    .lob-deck-cockpit-text2 {
        margin-left: 15%;
        margin-right: 15%;
    }

    .lob-off {
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
    }

}