
body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.lob-opening-header {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    margin-top: vw;
    margin-bottom: vw;
    text-align: center;
}

.lob-opening-subhead {
    font-size: 8vw;
    text-align: center;
}
